<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="absoluteWrapper">
            <div id="flexWrapper">
                <div id="movableDiv"></div>
                <div id="headerWrapper">
                    <h3 id="title">EDUKA SCORES</h3>
                </div>
                <div id="creditsWrapper">
                    <div id="creditTextWrapper">
                        <p class="creditText">More about project: <a href="https://github.com/Adomas-Alimas/EdukaScores" target="_blank">EdukaScores</a></p>
                        <p class="creditText">Created by: <a href="https://github.com/Adomas-Alimas" target="_blank">Adomas Alimas</a></p>
                    </div>
                </div>
                <div id="displayWrapper">
                    <h1 id="displayPercentage">0%</h1>
                    <h2 id="displayText">No data</h2>
                </div>
                
                <button id="refreshButton" type = "button">REFRESH</button>
            </div>
        </div>
    </body>
</html>